name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    name: Test, Lint, Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, macos-26]

    steps:
    - uses: actions/checkout@v6

    - uses: actions/setup-go@v6
      with:
        go-version: '1.25'

    - uses: cachix/install-nix-action@v31
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}

    - uses: cachix/cachix-action@v16
      with:
        name: bob
        authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

    - name: Check Flake
      run: nix flake check

    # Run outside nix dev shell until next nixpkgs release that resolves the issue https://github.com/NixOS/nixpkgs/pull/461615
    - name: Run Tests
      run: go test -v -race ./...

    - name: Lint
      run: nix develop --command golangci-lint run

    - name: Build Binary
      run: nix build

